[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/magda92
[access "refs/for/refs/*"]
	read = group user/magda92
	push = group user/magda92
	label-Code-Review = -2..+2 group user/magda92
	label-Verified = -1..+1 group user/magda92
	rebase = group user/magda92
	removeReviewer = group user/magda92
	submit = group user/magda92
[access "refs/heads/*"]
	read = group user/magda92
	create = group user/magda92
	push = +force group user/magda92
	pushMerge = group user/magda92
[access "refs/tags/*"]
	push = +force group user/magda92
	pushTag = group user/magda92
	pushSignedTag = group user/magda92
